
@{
 
};
<div class="text-black bg-success-subtle col-md-5 col-lg-4 col-xl-3 col-xxl-2 justify-content-between border border-2 border-info-subtle mx-1 mb-2 shadow-lg card ">
    <h1 class="w-100 fs-3 text-center">@ViewBag.nameMachine</h1>
    <div class="d-flex">
        <div class="text-center @ViewBag.ColorStatus_ROB1 text-black justify-content-between max-w w-50 rounded-2">
            <h1 class="fs-3 text-success-emphasis border-bottom border-1 border-dark-subtle pb-2">[Forma A]</h1>
            <p>Stav<br /> <span class="text-white fs-5 mx-1 bg-dark p-1">@ViewBag.productionStatus_ROB1</span> </p>
        </div>
        <div class="text-center @ViewBag.colorStatus_ROB2 text-black justify-content-between max-w  w-50 rounded-2">
            <h1 class="fs-3 text-success-emphasis border-bottom border-1 border-dark-subtle pb-2">[Forma B]</h1>
            <p>Stav<br /> <span class="text-white fs-5 bg-dark p-1">@ViewBag.productionStatus_ROB2</span></p>
        </div>
    </div>
    <a class="btn btn-primary w-100 " asp-controller="Home" asp-action=@ViewBag.linkMachine>Aktualne parametre info</a>
</div>