@model processDataShare.Models.OpelArmrestFront_model
@{
    <meta http-equiv="refresh" content="3">
    ViewData["Title"] = "OpelArmrestFront Info";

}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body class="mx-auto text-center">
    <h4 class="text-warning rounded-2 mx-auto text-center p-2 m-4 @(ViewBag.connection == "Connection OK" ? "bg-success text-dark" : "bg-warning text-danger")">
        @ViewBag.connection
    </h4>

    <div class="text-dark">
        @*ROB1*@
        <div class="d-flex justify-content-around m-4 flex-md-row flex-column gap-4">
            <div class="bg-info-subtle p-2 rounded-2">
                <h1>Opel Armrest [Front] </h1>
                <p>Actual downtime: @Model.actualDowntime min</p>
                <p>Actual Step: @Model.actualStep </p>
                <p>Left parts: @Model.leftPart</p>
                <p>Right parts: @Model.rightPart </p>

            </div>
            @*Global*@
            <div class="bg-info-subtle p-2 rounded-2">


            </div>
            @*ROB2*@
            <div class="bg-info-subtle p-2 rounded-2">

            </div>
        </div>
    </div>
</body>
</html>