@model processDataShare.Models.Asq6_model
@{
    <meta http-equiv="refresh" content="3">
    ViewData["Title"] = "ASQ_6 Info";

}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body class="mx-auto text-center">
    <h4 class="text-warning rounded-2 mx-auto text-center p-2 m-4 @(ViewBag.connection == "Connection OK" ? "bg-success text-dark" : "bg-warning text-danger")">
        @ViewBag.connection
</h4>

    <div class="text-dark">
        @*ROB1*@
        <div class="d-flex justify-content-around m-4 flex-md-row flex-column gap-4">
            <div class="bg-info-subtle p-2 px-4 rounded-2 col-12 col-md-3 fs-5 ">
                <h1 class="fs-2 text-center py-2">ASQ 6 [Form A - ROB1]</h1>
                <div class=" border-bottom border-3 border-info-subtle w-100 mx-auto"></div>
                <p>Inactive time: <span class="text-info fw-bold">@Model.ROB1_Downtime_Time Min</span> </p>
                <p>Actual formnumber:<span class="text-info fw-bold">@Model.ROB1_FormNumber</span>  </p>
                <p>Actual weight: <span class="text-info fw-bold">@Model.ROB1_WeightActualValue g</span> </p>
                <p>Temperature: <span class="text-info fw-bold">@Model.ROB1_Temperature C&deg;</span> </p>
                <p>Set temperature: <span class="text-info fw-bold">@Model.ROB1_SetTemperature C&deg;</span> </p>
                <p>Time drying: <span class="text-info fw-bold">@Model.ROB1_TimeDrying</span> </p>
            </div>
            @*Global*@
            <div class="bg-info-subtle p-2 px-4 rounded-2 col-12 col-md-3 fs-5">
                <h1 class="fs-2 text-center py-2">ASQ 6 [Global parameter]</h1>
                <div class=" border-bottom border-3 border-info-subtle w-100 mx-auto"></div>
                <p>Weight ref value: <span class="text-info fw-bold">@Model.Global_RefValue g</span> </p>
                <p>Weight tolerance minus: <span class="text-info fw-bold">@Model.Global_WeightTolMinus g</span> </p>
                <p>Weight tolerance plus: <span class="text-info fw-bold">@Model.Global_WeightTolPlus g</span> </p>
                <p>Mixing time: <span class="text-info fw-bold">@Model.Global_MixingTime min</span> </p>

            </div>
            @*ROB2*@
            <div class="bg-info-subtle p-2 px-4 rounded-2 col-12 col-md-3 fs-5">
                <h1 class="fs-2 text-center py-2">ASQ 6 [Form B - ROB2]</h1>
                <div class=" border-bottom border-3 border-info-subtle w-100 mx-auto"></div>
                <p>Inactive time: <span class="text-info fw-bold">@Model.ROB2_Downtime_Time Min</span> </p>
                <p>Actual formnumber: <span class="text-info fw-bold">@Model.ROB2_FormNumber</span> </p>
                <p>Actual weight: <span class="text-info fw-bold">@Model.ROB2_WeightActualValue g</span> </p>
                <p>Temperature: <span class="text-info fw-bold">@Model.ROB2_Temperature C&deg;</span> </p>
                <p>Set temperature: <span class="text-info fw-bold">@Model.ROB2_SetTemperature C&deg;</span></p>
                <p>Time drying: <span class="text-info fw-bold">@Model.ROB2_TimeDrying</span> </p>
            </div>
        </div>
    </div>
</body>
</html>