@model processDataShare.Models.Asq5_model
@{
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <p>Stroj nevyraba : @Model.ROB1_Temperature min</p>
    <h1>@Model.ROB1_RefValue</h1>

    @*<p>Referencna hodnota vahy :@ViewBag.ROB1_RefValue g</p>
        <p>Referencna hodnota tolerancia minus :  @ViewBag.ROB1_WeightTolMinus g</p>
        <p>Referencna hodnota tolerancia plus :  @ViewBag.ROB1_WeightTolPlus g</p>
        <p>Aktualna hodnota vahy :  @ViewBag.ROB1_WeightActualValue g</p>
        <p>Teplota :  @ViewBag.ROB1_Temperature C</p>
        <p>Nastavena teplota :  @ViewBag.ROB1_SetTemperature C</p>
        <p>Cas miesania :  @ViewBag.MixingTime min</p>*@
</body>
</html>