@model processDataShare.Models.Asq5_model
@{
        <meta http-equiv="refresh" content="3">
        ViewData["Title"] = "ASQ_5 Info";

    }




<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>


    <p>Referencna hodnota vahy :@Model.ROB1_RefValue g</p>
    <p>Referencna hodnota tolerancia minus :  @Model.ROB1_WeightTolMinus g</p>
    <p>Referencna hodnota tolerancia plus :  @Model.ROB1_WeightTolPlus g</p>
    <p>Aktualna hodnota vahy :  @Model.ROB1_WeightActualValue g</p>
    <p>Teplota :  @Model.ROB1_Temperature C</p>
    <p>Nastavena teplota :  @Model.ROB1_SetTemperature C</p>
    <p>Cas miesania :  @Model.MixingTime min</p>
</body>
</html>