@{
    ViewData["Title"] = "Home Page";
}

<div class="flex-column text-white-50">
    <div class="text-center card bg-white text-black w-25 ">
        <h1>ASQ_5</h1>
        <p>Stroj nevyraba :@ViewBag.ROB1_Downtime_Time min</p>
        <p>Referencna hodnota vahy :@ViewBag.ROB1_RefValue g</p>
        <p>Referencna hodnota tolerancia minus :  @ViewBag.ROB1_WeightTolMinus g</p>
        <p>Referencna hodnota tolerancia plus :  @ViewBag.ROB1_WeightTolPlus g</p>
        <p>Aktualna hodnota vahy :  @ViewBag.ROB1_WeightActualValue g</p>
        <p>Teplota :  @ViewBag.ROB1_Temperature C</p>
        <p>Nastavena teplota :  @ViewBag.ROB1_SetTemperature C</p>
        <p>Cas miesania :  @ViewBag.MixingTime min</p>
    </div>
</div>
