@model processDataShare.Models.MainIndex_model
@{
    <meta http-equiv="refresh" content="5">
    <!-- Obnoví stránku každých 5 sekúnd -->
    ViewData["Title"] = "Home Dashboard";   
}

<div class="d-flex flex-wrap text-white-50 justify-content-center ">
    @*__________________ASQ1_Container_______________*@
    @{
        string colorStatus_Asq1_ROB1 = Model.ASQ_1_ROB1_Downtime_Time > 0 ? "bg-danger" : "bg-success";
        string productionStatus_Asq1_ROB1 = Model.ASQ_1_ROB1_Downtime_Time == 0 ? "In Production" : "Nevyrába " + Model.ASQ_1_ROB1_Downtime_Time + " min";
        string colorStatus_Asq1_ROB2 = Model.ASQ_1_ROB2_Downtime_Time > 0 ? "bg-danger" : "bg-success";
        string productionStatus_Asq1_ROB2 = Model.ASQ_1_ROB2_Downtime_Time == 0 ? "In Production" : "Nevyrába " + Model.ASQ_1_ROB2_Downtime_Time + " min";

    }
    @Html.Partial("static_components/_doubleTabTemplate", new { connection = @Model.connectionAsq1, nameMachine = "ASQ 1", colorStatus_ROB1 = colorStatus_Asq1_ROB1, productionStatus_ROB1 = productionStatus_Asq1_ROB1, colorStatus_ROB2 = colorStatus_Asq1_ROB2, productionStatus_ROB2 = productionStatus_Asq1_ROB2, linkMachine = "Asq6" })

    @*__________________ASQ2_Container_______________*@
    @{
        string colorStatus_Asq2_ROB1 = Model.ASQ_2_ROB1_Downtime_Time > 0 ? "bg-danger" : "bg-success";
        string productionStatus_Asq2_ROB1 = Model.ASQ_2_ROB1_Downtime_Time == 0 ? "In Production" : "Nevyrába " + Model.ASQ_2_ROB1_Downtime_Time + " min";
        string colorStatus_Asq2_ROB2 = Model.ASQ_2_ROB2_Downtime_Time > 0 ? "bg-danger" : "bg-success";
        string productionStatus_Asq2_ROB2 = Model.ASQ_2_ROB2_Downtime_Time == 0 ? "In Production" : "Nevyrába " + Model.ASQ_2_ROB2_Downtime_Time + " min";

    }
    @Html.Partial("static_components/_doubleTabTemplate", new { connection = @Model.connectionAsq2, nameMachine = "ASQ 2", colorStatus_ROB1 = colorStatus_Asq2_ROB1, productionStatus_ROB1 = productionStatus_Asq2_ROB1, colorStatus_ROB2 = colorStatus_Asq2_ROB2, productionStatus_ROB2 = productionStatus_Asq2_ROB2, linkMachine = "Asq2" })

    @*__________________ASQ5_Container_______________*@
    @{
        string colorStatus_Asq5_ROB1 = Model.ASQ_5_ROB1_Downtime_Time > 0 ? "bg-danger" : "bg-success";
        string productionStatus_Asq5_ROB1 = Model.ASQ_5_ROB1_Downtime_Time == 0 ? "In Production" : "Nevyrába " + Model.ASQ_5_ROB1_Downtime_Time + " min";
        string colorStatus_Asq5_ROB2 = Model.ASQ_5_ROB2_Downtime_Time > 0 ? "bg-danger" : "bg-success";
        string productionStatus_Asq5_ROB2 = Model.ASQ_5_ROB2_Downtime_Time == 0 ? "In Production" : "Nevyrába " + Model.ASQ_5_ROB2_Downtime_Time + " min";

    }
    @Html.Partial("static_components/_doubleTabTemplate", new { connection = @Model.connectionAsq5, nameMachine = "ASQ 5", colorStatus_ROB1 = colorStatus_Asq5_ROB1, productionStatus_ROB1 = productionStatus_Asq5_ROB1, colorStatus_ROB2 = colorStatus_Asq5_ROB2, productionStatus_ROB2 = productionStatus_Asq5_ROB2, linkMachine = "Asq5" })


    @*_________________ASQ6_Container________________*@
    @{
        string colorStatus_Asq6_ROB1 = Model.ASQ_6_ROB1_Downtime_Time > 0 ? "bg-danger" : "bg-success";
        string productionStatus_Asq6_ROB1 = Model.ASQ_6_ROB1_Downtime_Time == 0 ? "In Production" : "Nevyrába " + Model.ASQ_6_ROB1_Downtime_Time + " min";
        string colorStatus_Asq6_ROB2 = Model.ASQ_6_ROB2_Downtime_Time > 0 ? "bg-danger" : "bg-success";
        string productionStatus_Asq6_ROB2 = Model.ASQ_6_ROB2_Downtime_Time == 0 ? "In Production" : "Nevyrába " + Model.ASQ_6_ROB2_Downtime_Time + " min";
        
    }
    @Html.Partial("static_components/_doubleTabTemplate", new { connection = @Model.connectionAsq6, nameMachine = "ASQ 6", colorStatus_ROB1 = colorStatus_Asq6_ROB1, productionStatus_ROB1 = productionStatus_Asq6_ROB1, colorStatus_ROB2 = colorStatus_Asq6_ROB2, productionStatus_ROB2 = productionStatus_Asq6_ROB2, linkMachine = "Asq6" })


    @*___________Opel Armrest FD container_____________*@
    @{
        string OpelarmrestFD_colorStatus;
        string Opel_armrestFD_productionStatus;
        if (Model.OpelArmrestFD_actualDowntime == 0)
        {
            OpelarmrestFD_colorStatus = "bg-success";
            Opel_armrestFD_productionStatus = "In Production";
        }
        else
        {
            if (Model.OpelArmrestFD_actualDowntime >= 300)
            {
                OpelarmrestFD_colorStatus = "bg-danger";
                Opel_armrestFD_productionStatus = "Nevyrába " + Model.OpelArmrestFD_actualDowntime + "+++" + " min";
            }
            else
            {
                OpelarmrestFD_colorStatus = "bg-danger";
                Opel_armrestFD_productionStatus = "Nevyrába " + Model.OpelArmrestFD_actualDowntime + " min";
            };
        };
    }
    @Html.Partial("static_components/_oneTabTemplate", new { connection = @Model.connectionOpelArmrestFd, connectionInfo = @Model.connectionOpelArmrestFd, nameMachine = "Opel Armrest FD", colorStatus = OpelarmrestFD_colorStatus, productionStatus = Opel_armrestFD_productionStatus, controller = "Opel", linkMachine = "OpelArmrestFd" })













</div>

