@model processDataShare.Models.MainIndex_model
@{
    <meta http-equiv="refresh" content="5">
    <!-- Obnoví stránku každých 5 sekúnd -->
    ViewData["Title"] = "Home Dashboard";


  


   
}

<div class="d-flex flex-wrap text-white-50 justify-content-center ">
    @{
        @*ASQ5_Container*@
        string colorStatus_Asq5_ROB1 = Model.ASQ_5_ROB1_Downtime_Time > 0 ? "bg-danger" : "bg-success";
        string productionStatus_Asq5_ROB1 = Model.ASQ_5_ROB1_Downtime_Time == 0 ? "In Production" : "Nevyrába " + Model.ASQ_5_ROB1_Downtime_Time + "min";
        string colorStatus_Asq5_ROB2 = Model.ASQ_5_ROB2_Downtime_Time > 0 ? "bg-danger" : "bg-success";
        string productionStatus_Asq5_ROB2 = Model.ASQ_5_ROB2_Downtime_Time == 0 ? "In Production" : "Nevyrába " + Model.ASQ_5_ROB2_Downtime_Time + "min";
    }
    @Html.Partial("static_components/_doubleTabTemplate", new { connection = @Model.connectionAsq5, connectionInfo = Model.connectionAsq5, nameMachine = "ASQ 5", colorStatus_ROB1 = colorStatus_Asq5_ROB1, productionStatus_ROB1 = productionStatus_Asq5_ROB1, colorStatus_ROB2 = colorStatus_Asq5_ROB2, productionStatus_ROB2 = productionStatus_Asq5_ROB2, linkMachine = "Asq5" })

    @{
        @*Opel Armrest FD container*@
        string OpelarmrestFD_colorStatus;
        string Opel_armrestFD_productionStatus;
        if (Model.OpelArmrestFD_actualDowntime == 0)
        {
            OpelarmrestFD_colorStatus = "bg-success";
            Opel_armrestFD_productionStatus = "In Production";
        }
        else
        {
            if (Model.OpelArmrestFD_actualDowntime >= 300)
            {
                OpelarmrestFD_colorStatus = "bg-danger";
                Opel_armrestFD_productionStatus = "Nevyrába " + Model.OpelArmrestFD_actualDowntime + "+++" + " min";
            }
            else
            {
                OpelarmrestFD_colorStatus = "bg-danger";
                Opel_armrestFD_productionStatus = "Nevyrába " + Model.OpelArmrestFD_actualDowntime + " min";
            };
        };
    }
    @Html.Partial("static_components/_oneTabTemplate", new { connection = @Model.connectionOpelArmrestFd, connectionInfo = @Model.connectionOpelArmrestFd, nameMachine = "Opel Armrest FD", colorStatus = OpelarmrestFD_colorStatus, productionStatus = Opel_armrestFD_productionStatus, linkMachine = "OpelArmrestFD" })

    @Html.Partial("static_components/_oneTabTemplate", new { connection = @Model.connectionOpelArmrestFd, connectionInfo = @Model.connectionOpelArmrestFd, nameMachine = "Opel Armrest FD", colorStatus = OpelarmrestFD_colorStatus, productionStatus = Opel_armrestFD_productionStatus, linkMachine = "OpelArmrestFD" })













</div>

