@model processDataShare.Models.Asq5_model
@{
    <meta http-equiv="refresh" content="5">
    <!-- Obnoví stránku každých 5 sekúnd -->
    ViewData["Title"] = "Home Page";
    string farba = Model.ROB1_Downtime_Time> 0 ? "bg-danger" : "bg-success";
}


<div class="d-flex flex-wrap text-white-50">
    <div class="text-center card @farba text-black w-25 mx-1 mb-2">
        <h1 class="display-2">ASQ 5</h1>
        <p class="@farba  ">Stroj nevyraba : @Model.ROB1_Downtime_Time.  min</p>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Asq5">Prejsť na stránku Info</a>
    </div>

    <div class="text-center card @farba text-black w-25 mx-1 mb-2">
        <h1 class="display-2">ASQ 5</h1>
        <p class="@farba  ">Stroj nevyraba : @Model.ROB1_Downtime_Time.  min</p>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Asq5">Prejsť na stránku Info</a>
    </div>

    <div class="text-center card @farba text-black w-25 mx-1 mb-2">
        <h1 class="display-2">ASQ 5</h1>
        <p class="@farba  ">Stroj nevyraba : @Model.ROB1_Downtime_Time.  min</p>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Asq5">Prejsť na stránku Info</a>
    </div>

    <div class="text-center card @farba text-black w-25 mx-1 mb-2">
        <h1 class="display-2">ASQ 5</h1>
        <p class="@farba  ">Stroj nevyraba : @Model.ROB1_Downtime_Time.  min</p>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Asq5">Prejsť na stránku Info</a>
    </div>

    <div class="text-center card @farba text-black w-25 mx-1 mb-2">
        <h1 class="display-2">ASQ 5</h1>
        <p class="@farba  ">Stroj nevyraba : @Model.ROB1_Downtime_Time.  min</p>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Asq5">Prejsť na stránku Info</a>
    </div>
</div>

